
[Unit]
Description=Hans
After=multi-user.target

[Service]
ExecStart=/home/pi/hans_rust/release
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target