
[Unit]
Description=Hans
After=multi-user.target

[Service]
ExecStart=/home/pi/hans_rust/target/release/hans
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
